body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	background-color: #e7edfe;
}

/* Global **/
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

/* Header **/
header{
	background:#255cf4;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#000000 3px solid;
}

header a{
	color:#ffffff;
	text-decoration:none;
	font-size:16px;
}

header ul{
	float:left;
	display:inline;
	padding: 0 0 0 0;
}

/* Dynamic Image Resize **/
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

footer{
	background:#255cf4;
	color:#ffffff;
	border-top:#000000 3px solid;
}
